apiVersion: batch/v1
kind: Job
metadata:
  name: generate-thumb-{{ job.timestamp }}
  labels:
    type: batch-processing # kubectl get job -l type=batch-processing
spec:
  template:
    metadata:
      labels:
        type: batch-processing # kubectl get pod -l type=batch-processing
    spec:
      containers:
      - name: generate-thumb
        image: ticapix/ovh-demo-k8s-batch-processing:latest
        args: [ "{{ job.bucket_in }}", "{{ job.filepath }}", "{{ job.bucket_out }}"]
        env:
        {%- for var in env_vars %}
          {%- if var.startswith('OS_') %}
        - name: {{ var }}
          value: "{{ env(var) }}"
          {%- endif %}
        {%- endfor %}
      restartPolicy: Never
      nodeSelector:
        nodepool: compute
  # backoffLimit: 1
